* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

nav .logo img {
  width: 120px;
  margin: -3px 0;
  position: relative;
  left: -45%;
  cursor: pointer;
}

nav ul {
  list-style: none;

}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a.action {
  color: rgb(236, 71, 71);
}

nav ul li a:hover {
  color: rgb(236, 71, 71);
}

nav .login a {
  color: black;
  text-decoration: none;
  border: 2px solid rgb(236, 71, 71);
  border-radius: 20px;
  padding: 7px 20px;
  transition: 0.3s;
}

nav .login a:hover {
  background-color: rgb(236, 71, 71);
  color: white;
}

/* banner */
.banner_bg {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/image/banner_bg.jpeg);
  background-size: cover;
  background-position: center;
}

.banner_bg h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  position: relative;
  top: 50%;
}

.banner_bg h1 span {
  margin-left: 15px;
  color: rgb(236, 71, 71);
}

/*menu  */
.menu {
  width: 100%;
  padding: 10px 0 20px 0;
}

.menu .menu_box {
  width: 95%;
  margin: 45px auto0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 10px;
}

.menu .menu_box .menu_card {
  background-image: url(images/image/menu_card_bg.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 450px;
  height: 575px;
  /* cursor: pointer; */
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
}

.menu .menu_box .menu_card .menu_img {
  margin: 0 auto;
  width: 420px;
  height: 300px;
  margin-bottom: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.menu .menu_box .menu_card .menu_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.menu .menu_box .menu_card .menu_img .menu_text h2 {
  font-size: 30px;
  margin-bottom: 15px;

}

.menu .menu_box .menu_card .menu_img .menu_text p {
  line-height: 21px;
  margin-bottom: 15px;
  margin: 0 auto;
  width: 400px;
}

.menu .menu_box .menu_card .menu_text .menu_icon {
  color: rgb(236, 71, 71);
  margin: 8px 0;
}

.menu .menu_box .menu_card .menu_text .price {
  font-weight: bold;
  font-size: 20px;
  padding: 8px 0;
  margin-left: 45px;

}

.menu .menu_box .menu_card .menu_text .price sub {
  margin-left: 5px;
  color: #6b6b6b;
  font-size: 13px;

}

.menu .menu_box .menu_card .menu_text .menu_btn {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid rgb(236, 71, 71);
  position: relative;
  top: 20px;
  transition: 0.3s;
  z-index: 5;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover {
  color: white;

}

.menu .menu_box .menu_card .menu_text .menu_btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(236, 71, 71);
  transition: 0.3s;
  z-index: -1;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover::before {
  top: unset;
  width: 100%;
  bottom: 0;
}

.menu .menu_box .menu_card .menu_text .menu_btn i {
  margin-right: 8px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 60px 0;
}

.more_btn {
  color: black;
  text-decoration: none;
  padding: 12px 30px;
  border: 2px solid rgb(236, 71, 71);
  position: relative;
  transition: 0.3s;
  z-index: 5;
  font-size: 18px;
  font-weight: bold;
}

.more_btn i {
  margin-left: 8px;
  transition: 0.3s;
}

.more_btn:hover {
  color: white;
}

.more_btn:hover i {
  transform: translateX(5px);
}

.more_btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(236, 71, 71);
  transition: 0.3s;
  z-index: -1;
}

.more_btn:hover::before {
  top: unset;
  width: 100%;
  bottom: 0;
}

/* footer */
footer {
  width: 100%;
  padding: 30px 0 0 20px;
  background: #eeeeee;
}

footer .footer_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag {
  text-align: center;

}

footer .footer_main .footer_tag h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 30px;
}

footer .footer_main .footer_tag p {
  margin: 10px 0;
}

footer .footer_main .footer_tag i {
  margin: 0 5px;
  cursor: pointer;
  font-size: 22px;
}

footer .footer_main .footer_tag i:hover {
  color: rgb(236, 71, 71);
}

footer .end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

footer .end span {
  color: rgb(236, 71, 71);
  margin-left: 10px;
  margin-right: 10px;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(236, 71, 71);
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(236, 71, 71);
  border-radius: 30px;
}

.anim {
  transform: translateY(40x);
  opacity: 0;
  animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}